body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(206, 45, 109);
}

.header_text {
    font-family: 'Nunito';
    font-size: 35px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 40%;
    max-height: 350px;
    margin-top: 50px;
}
